In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split

In [42]:
data = pd.read_csv('BostonHousing.csv')
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [43]:
df_x = data.drop('medv', axis = 1)
df_y = data['medv']

x_train, x_test, y_train, y_test = train_test_split(df_x.values, df_y.values, test_size = 0.2, random_state = 4)
theta = np.zeros((1, 14))

In [44]:
# biases
ones = np.ones((404, 1))
x_train = np.concatenate((ones, x_train), axis = 1)
ones = np.ones((102, 1))
x_test = np.concatenate((ones, x_test), axis = 1)

In [45]:
def costfn(x, y, theta):
    j = np.sum(x.dot(theta.T) - y) ** 2 / (2 * len(y))
    return j


def gradient(x, y, theta, alpha, iterations):
    
    for i in range(iterations):
        h = theta.dot(x.T) 
        loss = h - y
        g = loss.dot(x) / len(y)
        theta = theta - (alpha * g)
        
    return theta

In [46]:
theta = gradient(x_train, y_train, theta, 0.0000062, 200000)
prediction = theta.dot(x_test.T)
mse = np.sum((prediction - y_test) ** 2) / 102
print(mse)

30.735886994822174